.viewBudgetApp {
    height: 100%;
    width: 100%;
    position: relative;
    border: 2px dashed rgb(223, 223, 223);
    border-radius: 15px;
    box-shadow: -15px -15px 15px rgba(223, 221, 221, 0.2), 15px 15px 15px rgba(207, 204, 204, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* overflow: auto; */
}

.budgetApp{
    height: 100%;
    width: 70%;
    padding-left: 10px;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.expnsTtlContainer{
    height: 8%;
    width: 100%;
    min-height: 40px;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftSideBarIcon{
    left: 10px;
    position: absolute;
    border-radius: 2px;
    cursor: pointer;
    display: none;
}

.leftSideBarIcon i:hover::before{
    background-color: rgba(0,0,0,.1);
    
    transition: background-color 1s;
}

.expnsWndwContainer{
    width: 97%;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    gap:.5%;
    /* background-color: darkgray; */
}

.expenseTab {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 234px;
    align-items: center;
    margin-bottom: 30px;
}

.expenseItems {
    width: 100%;
    background-color: rgba(245, 0, 0, 0.2);
    border: 1px solid #eceaea;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    /* gap: 200px; */
    align-items: flex-start;
}

.expenseInfo{
    width: 100%;
    
    margin-right:5% ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    gap:10px
}

.expenseInfoRight, .expenseInfoLeft{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.expenseInfoRight span, .expenseInfoLeft  span{
    text-align: start;
}

.dlteExpButtnsContainer{
    height: 100%;
    display: flex;
    align-items: center;
}

.deleteExpenseButtons {
    margin: 0;
    font-size: 8px;
    padding: 5px;
    width: 25px;
    height: auto;
    box-shadow: 0px 0px rgba(200, 199, 199, 0.2);
    background: rgb(254, 82, 82);
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
}

.setBudgtVsTotalExp{   
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
}

.setBudgetContainer{
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
}

.bdgtInptsprLine{
    width: 100%;
    display: flex;
    flex-direction: column !important;
}

.setBdgtAmntForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
  
.bdgtInptsprLine h4, .totlExpCntainr h4, .bdgtAftrExpCntainr h4{
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    text-align: start;
    text-wrap:  nowrap;
    text-align: center;
}
  
.bdgtInptsprLine input{
    width: 100%;
    margin-bottom: 5%;
    border-radius: 15px !important;
    border: 1px rgb(161, 160, 160) solid;
    outline: none;
    text-align: center;
    color: rgb(80,80,80);
    font-weight: bold;
    font-size: 15px;
    transition: 0.5s;
}

.ExpAndRemainingBdgt{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.totlExpCntainr div, .bdgtAftrExpCntainr div{
    margin-bottom: 5%;
    padding: 1px;
    border: 1px rgb(161, 160, 160) solid;
    border-radius: 15px !important;
    background-color: white;
    font-weight: bold;
}

.shortIndicator{
    color: rgb(254, 82, 82);
    font-weight: 700;
}


@media (max-height: 700px) {
    .setBudgtVsTotalExp{
        margin: 0;
        padding-top: 5px;
    }

    .setBudgetContainer h4, .ExpAndRemainingBdgt h4{
        font-size: small;
    }

    .setBudgetContainer input{
        font-size: small;
    }
    .totlExpCntainr div, .bdgtAftrExpCntainr div{
        font-size: .9rem;
    }
}


@media (max-width:600px) and (min-height: 750px){
    .budgetApp{
        width: 100%;
        padding-left: 0 !important;
    }

    .leftSideBarIcon{
        display: flex !important;
    }

    .setBdgtAndExpnse{
        /* transform: translateX(-150%); */
        width: 70% !important;
        position: absolute;
        left: 0;
        background-color: white;
        border: 1px solid rgba(0,0,0,.2);
        z-index: 1;
        overflow: visible !important;
    }

    .setBdgtAndExpnse.hidden {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-150%);
        transition: transform 1s, opacity 1s, visibility 1s;
    }
    

    @keyframes slowlyShowingLeftSideBar {
        from{
            transform: translateX(-150%);
        }to{
            transform: translateX(0);
        }
    }

    @keyframes slowlyHidingLeftSideBar {
        from{
            transform: translateX(0);
        }to{
            transform: translateX(-150%);
        }
    }

    .setBdgtAndExpnse.showing{
        display: flex !important;
        
        animation: slowlyShowingLeftSideBar 1s;
    }
    
    .hideLeftSideBarIcon{
        display: block !important;
    }

    .dlteExpButtnsContainer{
        align-items: flex-start !important;
    }
}


@media (max-width:600px) and (max-height: 749px){
    .budgetApp{
        width: 100%;
        padding-left: 0 !important;
    }

    .leftSideBarIcon{
        display: flex !important;
    }

    .setBdgtAndExpnse{
        /* transform: translateX(-150%); */
        width: 70% !important;
        position: absolute;
        left: 0;
        padding: 10px !important;
        background-color: white;
        border: 1px solid rgba(0,0,0,.2);
        z-index: 1;
    }

    .setBdgtAndExpnse.hidden {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-150%);
        transition: transform 1s, opacity 1s, visibility 1s;
    }
    

    @keyframes slowlyShowingLeftSideBar {
        from{
            transform: translateX(-150%);
        }to{
            transform: translateX(0);
        }
    }

    @keyframes slowlyHidingLeftSideBar {
        from{
            transform: translateX(0);
        }to{
            transform: translateX(-150%);
        }
    }

    .setBdgtAndExpnse.showing{
        display: flex !important;
        animation: slowlyShowingLeftSideBar 1s;
        overflow-y: auto !important;
        overflow: visible;
    }
    
    .hideLeftSideBarIcon{
        display: block !important;
        top:1px !important;
        right: 0 !important;
    }

    .expenseFormInputs > *{
        padding: 5px !important;
        margin: 5px 0px !important;
    }

    .dlteExpButtnsContainer{
        align-items: flex-start !important;
    }
 
}

@media (max-width:450px) {
    .expnsWndwContainer{
        gap:5px
    }
    .expenseItems{
        padding: 0;
        gap:5px;
    }

    .expenseItems div{
        margin-right: 3px;
        padding: 0;
        gap:5px;
    }
    
}

